# Welcome to Osse!

# Modify this file to update the name, ports, and other settings.
# Whenever you make a change to this file, run ./osse.sh build_env to rebuild the neccessary files. This is required for all deployment methods (including docker!)
# You should also rebuild your containers using docker after running osse.sh
# docker compose up --build

# Enter a domain name.
# .localhost domains can only be accessed from the device running Osse.
# You can also enter a local IP address such as 192.168.1.2
# This is best for accessing osse over your local, private network.
# You can do a custom domain name that you don't own as long as you modify the hosts file on each client.
# For example, choosing osse.home (This domain name doesn't exist so is safely accessible over the local network only. Each client needs to have the hosts file entry)
OSSE_DOMAIN=osse.localhost
# Can be local or prod
OSSE_ENV=prod
# Internal ports (never exposed publicly, but they need to not be in use)
OSSE_BROADCAST_PORT=8090
# Port 4200 is also in use if in development mode.
# Redis instance. Valkey works fine too! A default installation will require no changes here.
OSSE_REDIS_HOST="localhost"
OSSE_REDIS_POST=6379

# The paths to scan for music. See examples below. Only absolute paths are supported (no ~ or env vars). Separate directories with comma.
# If you are using docker, only 1 folder is supported. You can make symlinks to join directories into 1, or modify the docker compose file to put additional folders into /music
export OSSE_DIRECTORIES=""
# export OSSE_DIRECTORIES="/home/me/Music,/mnt/server1/files"
# If true, allow new accounts to be created. Once you make your account, set this to false.
export OSSE_ALLOW_REGISTRATION=true

# Storage (config, cache, database). Path will be created if not present. Permissions will be modified in this directory so be sure to choose an empty directory!
LARAVEL_STORAGE_PATH="~/.config/osse"

# DOCKER ONLY
# Only uncomment these if you are using docker.
# Leave them commented if you are not using docker.
# If you don't do this, osse won't work.

# The port you will access osse on. This is appended to your OSSE_DOMAIN.
# Do not add a port to OSSE_DOMAIN.
# Use a high port number to avoid conflicts with low number ports.
# OSSE_DOCKER_PORT="8443"
